@import "tailwindcss";

:root {
  --background: #FFEBD8;
  --foreground: #6F4E37;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
